<div class="main">
  <div class="container">
	
    <h1 color:red>Hello my name is Peter</h1>
    <p>I make Rails apps.</p>
	
	<%= link_to 'Messages Example', "/messages" %><br>
	<br>
	<%= link_to 'Travel Example', "/tags" %>
  </div>
</div>